
$media-tablet-portrait: "only screen and (min-width: 768px)";
$media-tablet-landscape: "only screen and (min-width: 1024px)";

$max-height: 54rem;

%font1{
	font-family: Merriweather, serif;
}
%font2{
	font-family: Comfortaa, sans-serif;
}
