@import "../styles/shared";

// .galeriacontainer{
    // &:after {
    //     content: "";
    //     display: table;
    //     clear: both;
    // }
    // margin-right: 2rem;
    // @media#{$media-tablet-portrait}{
    //     margin-right: 4rem;
    // }
    // .imageContainer{
    //     position: relative;
    //     float: left;
    //     width: calc(50% - 2rem);
    //     margin: 0 2rem 2rem 0;
    //     @media#{$media-tablet-portrait}{
    //         width: calc(50% - 4rem);
    //         margin: 0 4rem 4rem 0;
    //     }
    //     @media#{$media-tablet-landscape}{
    //         width: calc(33.33% - 4rem);
    //         margin: 0 4rem 4rem 0;
    //     }
    // }
    .galeria{
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: #333;
        will-change: transform;
        .close{
            position: absolute;
            z-index: 10;
            top: 0;
            right: 0;
            >div>div{
                background-color: white;
                box-shadow: 0 0 0.4rem rgba(0,0,0,0.4);
            }
        }
        .slideImage{
            position: absolute;
            width: 100%;
            height: 100%;
            will-change: transform;
            &:after{
                content: '';
                display: block;
                position: absolute;
                top: 0; right: 0; bottom: 0; left: 0;
                cursor: pointer;
            }
            >div.image_horizontal,
            >div.image_vertical{
                width: 100%;
                height: 100%;
                background-color: #333;
                will-change: transform;
            }
            >div.image_horizontal{
                display: none;
                @media screen and (min-aspect-ratio: 1/1) {
                    display: block;
                }
            }
            >div.image_vertical{
                display: block;
                @media screen and (min-aspect-ratio: 1/1) {
                    display: none;
                }
            }
        }
        .text_box{
            position: absolute;
            left: 4rem;
            bottom: 4rem;
            z-index: 5;
            @extend %font2;
           
            @media#{$media-tablet-portrait}{
                
            }
        }
        .left,
        .right{
            display: none;
            position: absolute;
            top: calc(50% - 2rem);
            left: 2rem;
            width: 4rem;
            height: 4rem;
            align-items: center;
            justify-content: center;
            z-index: 100;
            cursor: pointer;
            @media#{$media-tablet-portrait}{
                display: flex;
            }
            &:hover{
                opacity: 0.6;
            }
            svg{
                transform: scale(-1.5, 1.5);
            }
        }
        .right{
            left: auto;
            right: 2rem;
            svg{
                transform: scale(1.5, 1.5);
            }
        }
    }
// }